@model bibliotech.Models.Usuario 

@{
    ViewData["Title"] = "Adicionar Novo Usuário";
}

<h1>Adicionar Novo Usuário</h1>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="Nome" class="control-label"></label>
        <input asp-for="Nome" class="form-control" />
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DataRegistro" class="control-label"></label>
        <input asp-for="DataRegistro" class="form-control" />
        <span asp-validation-for="DataRegistro" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Salvar" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </div>
</form>
