@{
    ViewData["Title"] = "Página Inicial";
}

<h1>Bem-vindo à Biblioteca</h1>
<p>Bem-vindo ao sistema de gerenciamento da Biblioteca. Utilize os links abaixo para navegar pelas funcionalidades do sistema:</p>

<ul>
    <li><a asp-controller="Livro" asp-action="Index">Gerenciar Livros</a></li>
    <li><a asp-controller="Usuario" asp-action="Index">Gerenciar Usuários</a></li>
    <li><a asp-controller="Emprestimo" asp-action="Index">Gerenciar Empréstimos</a></li>
    <li><a asp-controller="Categoria" asp-action="Index">Gerenciar Categorias</a></li>
</ul>